* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $html-font-size;
}

body {
  font-family: $font-secondary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  position: relative;
  width: $container-max-width;
  margin: 0 auto;
  max-width: $container-max-width-xl;
  padding-left: $container-padding-xl;
  padding-right: $container-padding-xl;

  &__header,
  &__welcome,
  &__explore,
  &__gallery {
    color: $color-text-light;
  }

  &__header {
    padding-top: 5.9rem;
    padding-bottom: 5.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-normal;
  }

  &__section {
    display: flex;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
  }

  &__welcome {
    display: block;
    padding-top: 0;
    padding-bottom: $spacing-lg;
  }

  &__visiting,
  &__video,
  &__gallery,
  &__tickets {
    flex-direction: column;
    gap: $spacing-xl;
  }

  &__explore {
    justify-content: space-between;
    gap: $spacing-lg;
  }

  &__gallery {
    padding-bottom: 0;
  }
}

.icon {
  display: block;
  background-color: $color-white;
  mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  transition: $transition-normal;
}

.header {
  background-color: $color-background;

  &__navigation {
    max-width: 77.5rem;
    flex-grow: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: $spacing-normal;
  }

  &__link {
    font-weight: $font-weight-thin;
  }
}

.section {
  &__title {
    font-family: $font-primary;
    font-size: $font-size-xxxl;
    font-weight: $font-weight-thin;
    line-height: $line-height-xl;
    letter-spacing: $letter-spacing-normal;
    text-transform: uppercase;

    &--gold {
      color: $color-secondary;
    }

    &--underline {
      position: relative;
      margin-bottom: 2.8rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -2.8rem;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: $color-primary;
      }
    }
  }
}

.welcome {
  background-color: $color-background;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    top: 15rem;
    left: $container-padding-xl;
    z-index: 1;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 5rem;
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-sm;
  }

  &__link {
    display: flex;
    justify-content: center;
    max-width: 36rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: $border-radius-normal;
    background-color: $color-primary;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-sm;
    transition: $transition-normal;

    &:hover {
      background-color: $color-link-hover;
    }

    &:active {
      background-color: $color-link-active;
    }
  }

  &__slider {
    display: flex;
    justify-content: flex-end;
  }
}

.explore {
  background-color: $color-background;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 66rem;
  }

  &__slider-comparison {
    align-self: center;
    margin-top: 1.5rem;
    width: 72rem;
    height: 70rem;
  }
}

.video {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-normal;
  }

  &__desc {
    max-width: 72rem;
  }

  &__media {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }
}

.gallery {
  background-color: $color-black;

  &__container {
    pointer-events: none;
    position: relative;
    max-height: 196rem;
    overflow-y: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 18.5%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        $color-background 100%
      );
    }
  }

  &__inner-container {
    columns: 3 auto;
    column-gap: 3.6rem;
  }

  &__img-wrapper {
    max-width: 45.6rem;
    margin-bottom: 2.5rem;
  }

  &__img {
    width: 100%;
    object-fit: contain;

    &--indent {
      padding-top: $spacing-md;
    }
  }
}

.tickets {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: $spacing-lg;
  }

  &__img-wrapper {
    max-width: 72rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }
}

.parallax {
  width: 100%;
  height: 40rem;
  background-image: url("assets/img/parallax_background.png");
  background-size: cover;
  background-attachment: fixed;
}

.Contacts {
  &__container {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;

    display: flex;
    flex-direction: column;
    gap: 10.3rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 19.8rem;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__subtitle {
    margin-bottom: 2.5rem;
  }

  &__map {
    max-width: 96rem;
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.footer {
  background-color: $color-black;
  color: $color-white;

  &__container {
  }

  &__head {
    padding-top: 8.5rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    width: 69.6rem;
  }

  &__logo {
  }

  &__logo-link {
  }

  &__navigation {
  }

  &__navigation-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 15.2rem;
    align-content: flex-start;
  }

  &__navigation-item {
  }

  &__navigation-link {
    font-weight: $font-weight-extra-light;
  }

  &__social-list {
    display: flex;
    gap: 2.5rem;
    align-items: end;

    padding-bottom: 0.5rem;
  }

  &__additional {
    position: relative;

    padding-top: 5rem;
    padding-bottom: 5.2rem;

    border-top: 0.3rem solid $color-player-pagination-unit;

    display: flex;
    justify-content: space-between;
  }

  &__desc {
    flex-grow: 1;

    font-size: $font-size-md;
    font-weight: $font-weight-thin;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing-sm;

    text-align: center;

    &:first-child {
      margin-right: 3.5rem;
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .container {
    max-width: $container-max-width-lg;
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;

    &__header {
      padding-top: 4.9rem;
      padding-bottom: 4.9rem;
    }

    &__section {
      padding-top: $spacing-lg;
      padding-bottom: $spacing-lg;
    }

    &__welcome {
      padding-top: 0;
      padding-bottom: $spacing-lg;
    }

    &__visiting {
      gap: $spacing-lg;
    }

    &__explore {
      flex-direction: column;
    }

    &__video {
      gap: $spacing-sm;
    }

    &__gallery {
      gap: $spacing-lg;
      padding-bottom: 0;
    }

    &__tickets {
      gap: $spacing-lg;
    }
  }

  .header {
    &__navigation {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      overflow-x: hidden;
      max-width: 29.7rem;
      width: 100%;
      height: 100vh;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;
      gap: 2.4rem;
      padding-top: 3.5rem;
      padding-left: 5.5rem;
      height: 100%;
      background-color: $color-background;
      transform: translateX(-100%);
      transition: $transition-normal;

      &--active {
        transform: translateX(0);
      }
    }

    &__link {
      font-size: $font-size-xs;
      font-weight: $font-weight-light;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 12.2rem;

      &:hover > .header__icon {
        background-color: $color-link-hover;
      }

      &:active > .header__icon {
        background-color: $color-link-active;
      }
    }

    &__icon {
      width: 1.2rem;
      height: 1.2rem;
      mask-image: url("assets/svg/menu_arrow.svg");
    }
  }

  .section {
    &__title {
      font-size: $font-size-xxl;
      line-height: $line-height-lg;

      &--underline {
        margin-bottom: 2.3rem;

        &::after {
          bottom: -2.3rem;
        }
      }
    }
  }

  .welcome {
    &__title {
      line-height: $line-height-xl;
    }

    &__content {
      top: 5rem;
      left: $container-padding-sm;
    }

    &__text {
      margin-bottom: 2.5rem;
      font-size: $font-size-m;
    }

    &__link {
      max-width: 30rem;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
      font-size: $font-size-xs;
    }
  }

  .explore {
    &__content {
      gap: $spacing-lg;
    }

    &__desc {
      gap: 0;
      max-width: 100%;
    }

    &__slider-comparison {
      margin-top: 0;
    }
  }

  .gallery {
    &__container {
      max-height: 126.5rem;
    }
  }

  .tickets {
    &__content {
      gap: $spacing-xxl;
    }

    &__img-wrapper {
      max-width: 70rem;
      max-height: 44rem;
    }

    &__form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $spacing-lg;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    max-width: $container-max-width-md;
    padding-left: $container-padding-md;
    padding-right: $container-padding-md;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    max-width: $container-max-width-sm;
    padding-left: $container-padding-sm;
    padding-right: $container-padding-sm;
  }
}
