$html-font-size: 10px;
$container-max-width: 144rem;

$color-white: #ffffff;
$color-black: #000000;
$color-primary: #710707;
$color-secondary: #9d8665;
$color-text: #000000;
$color-text-light: #ffffff;
$color-background: #030303;
$color-link-hover: #9d8665;
$color-link-active: #7e6c51;
$color-dot-active: #d2b183;
$color-desc-marker: #caaa7d;
$color-player-control-unit: #b3b3b3;
$color-player-control-unit-hover: #989898;
$color-player-pagination-unit: #999999;
$color-player-pagination-unit-hover: #710707;

$font-primary: 'Forum', serif;
$font-secondary: 'Roboto', sans-serif;

$font-size-base: 1.8rem;
$font-size-md: 2.2rem;
$font-size-lg: 2.8rem;
$font-size-xl: 3.2rem;
$font-size-xxl: 8rem;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$line-height-base: normal;
$line-height-sm: 3.85rem;
$line-height-md: 4rem;
$line-height-lg: 9rem;

$letter-spacing-normal: .5rem;
$letter-spacing-xs: .2rem;

$spacing-normal: 1rem;
// $spacing-xs: ;
// $spacing-sm: ;
// $spacing-md: ;
// $spacing-lg: ;
// $spacing-xl: ;

// $shadow-sm: ;
// $shadow-md: ;
// $shadow-lg: ;

$border-radius-normal: 1rem;
$border-radius-full: 999.9rem;

// $transition-fast: 0.15s ease;
$transition-normal: 0.3s ease;
$transition-slow: 0.5s ease;

// $breakpoint-xs: 0;
// $breakpoint-sm: 42rem;
// $breakpoint-md: 76.8rem;
// $breakpoint-lg: 102.4rem;
// $breakpoint-xl: 192rem;