@media (max-width: $breakpoint-md) {
  .container {
    max-width: $container-max-width-md;
    padding-left: $container-padding-md;
    padding-right: $container-padding-md;

    &__header {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }

    &__section {
      padding-top: $font-size-xxl;
      padding-bottom: $font-size-xxl;
    }

    &__visiting,
    &__explore,
    &__gallery,
    &__tickets,
    &__contacts {
      gap: $spacing-sm;
    }

    &__visiting,
    &__video {
      padding-bottom: $spacing-xxl;
    }

    &__welcome {
      padding-top: 0;
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__video {
      gap: $spacing-xs;
    }

    &__contacts {
      padding-bottom: $line-height-lg + 0.7rem;
    }

    &__footer {
      padding-bottom: 0;
    }
  }

  .header {
    &__logo {
      margin-top: 1rem;
    }
  }

  .section {
    &__title {
      font-size: $font-size-xxl;
      line-height: $line-height-lg;
    }
  }

  .welcome {
    &__content {
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
    }

    &__title {
      align-items: center;
    }

    &__text {
      font-size: $font-size-xs;
    }

    &__link {
      display: none;
    }

    &__slider {
      justify-content: inherit;
    }
  }

  .explore {
    &__desc {
      &--hidden {
        display: none;
      }
    }

    &__slider-comparison {
      width: 72.8rem;
      height: 70.5rem;
    }
  }

  .video {
    &__media {
      gap: $spacing-xs;
    }
  }

  .gallery {
    &__container {
      max-height: 104rem;
    }

    &__inner-container {
      columns: 2 auto;
      column-gap: 2.4rem;
    }

    &__img-wrapper {
      &:nth-child(11) {
        padding-top: 0;
      }
    }
  }

  .tickets {
    &__content {
      gap: $spacing-lg;
    }

    &__img-wrapper {
      max-width: 44.4rem;
      max-height: 34rem;
    }

    &__form {
      gap: $spacing-sm;
    }
  }

  .parallax {
    height: 30rem;
  }

  .contacts {
    &__content {
      flex-direction: column;
      gap: $spacing-sm;
    }

    &__subtitle {
      margin-bottom: 2rem;
      font-size: $font-size-xs;
    }

    &__item {
      font-size: $font-size-base;
    }

    &__map-wrapper {
      max-width: inherit;
      height: 47.6rem;
    }

    &__img {
      height: 125%;
    }
  }

  .footer {
    &::after {
      bottom: 2 * $spacing-sm + $font-size-md;
    }

    &__upper {
      padding-bottom: $line-height-md;
    }

    &__logo {
      margin-top: 1rem;
    }

    &__wrapper {
      margin-top: 1rem;
      max-width: 43rem;
      flex-direction: column;
      row-gap: 2.5rem;
    }

    &__list {
      column-gap: $font-size-xxxxl;
    }

    &__link {
      font-size: $font-size-base;
    }

    &__social {
      align-self: flex-start;
      margin-bottom: 0;
    }

    &__lower {
      display: flex;
      justify-content: space-between;
      columns: auto;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &__desc {
      text-wrap: nowrap;

      &:first-child,
      &:last-child {
        width: 15rem;
      }
    }
  }
}
