.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7.5rem 6rem;
}

.card {

    &__link {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
    }

    &__image {
        display: block;
        max-width: 44rem;
        max-height: 28.5rem;
    }

    &__title {
        position: relative;

        font-family: $font-primary;
        font-size: $font-size-xl;
        font-weight: $font-weight-thin;
        letter-spacing: $letter-spacing-normal;
        text-transform: uppercase;

        margin-top: 1.5rem;
        margin-bottom: 1.2rem;

        &::after {
            content: "";
            position: absolute;
            max-width: 68%;
            bottom: -1.2rem;
            left: 0;
            right: 0;
            height: .2rem;
            background-color: $color-primary;
        }
    }

    &__label {
        font-weight: $font-weight-extra-light;
    }

    &__label--1 {
        font-size: $font-size-md;
    }
}