.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-xl $spacing-lg;
}

.card {
  &:hover .card__title--underline::after {
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: $spacing-normal;
  }

  &__img {
    width: 44rem;
    height: 28.5rem;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-family: $font-primary;
    font-size: $font-size-xl;
    font-weight: $font-weight-thin;
    letter-spacing: $letter-spacing-normal;
    text-transform: uppercase;

    &--underline {
      position: relative;
      margin-bottom: 1.2rem;
    }

    &--underline::after {
      content: "";
      position: absolute;
      width: 30rem;
      bottom: -1.2rem;
      left: 0;
      right: 0;
      height: 0.2rem;
      background-color: $color-primary;

      transition: $transition-normal;
    }
  }

  &__label {
    font-weight: $font-weight-extra-light;

    &--large {
      font-size: $font-size-md;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .cards {
    justify-content: space-evenly;
    gap: $spacing-lg 0;
  }

  .card {
    &__img {
      width: 33rem;
      height: 21.5rem;
    }

    &__title {
      font-size: $font-size-lg;
      letter-spacing: $letter-spacing-md;

      &--underline::after {
        width: 15rem;
      }
    }

    &__label {
      font-size: $font-size-xxs;

      &--large {
        font-size: $font-size-xs;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .cards {
    row-gap: $spacing-sm - 0.1rem;
  }

  .card {
    &__img {
      width: 28rem;
      height: 18rem;
    }

    &__title {
      font-size: $font-size-md;
    }

    &__label {
      &--large {
        font-size: $font-size-base;
      }
    }
  }
}
