.contact-list {

    &__title {
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
    }

    &__item {
        font-size: $font-size-md;
        font-weight: $font-weight-extra-light;
    }

    &__link {
        transition: $transition-normal;

        &:hover {
            color: $color-secondary;
        }
    }
}