.form {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: $spacing-lg;
  }

  &__ticket-type,
  &__amount {
    display: flex;
    flex-direction: column;
  }

  &__ticket-type {
    gap: 2.5rem;
  }

  &__amount {
    flex-grow: 1;
  }

  &__sum {
    align-self: self-end;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-xs;
    white-space: nowrap;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    width: 100%;
    max-width: 17.5rem;
    padding: 1.2rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: $color-black;
    color: $color-white;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-xs;
    transition: $transition-normal;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &__btn-caption {
    white-space: nowrap;
  }
}

.ticket-type,
.amount {
  &__item {
    font-size: $font-size-md;
    font-weight: $font-weight-light;
  }
}

.ticket-type {
  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: 5rem;
  }

  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: $spacing-sm;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    opacity: 0;

    &:checked ~ .ticket-type__checkmark {
      background-color: $color-white;

      &::after {
        display: block;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    border: 0.2rem solid $color-black;

    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: $color-black;
    }
  }
}

.amount {
  --amountWrapperAlignSelf: self-end;
  --amountWrapperMarginBottom: 5rem;
  --amountWrapperGap: 1rem;
  --amountTitleAlignSelf: self-end;
  --amountTitleMarginBottom: 1.5rem;
  --amountItemMarginBottom: 0.5rem;

  &__wrapper {
    align-self: var(--amountWrapperAlignSelf);
    margin-bottom: var(--amountWrapperMarginBottom);
    gap: var(--amountWrapperGap);
    display: flex;
    flex-direction: column;
  }

  &__title {
    align-items: var(--amountTitleAlignSelf);
    margin-bottom: var(--amountTitleMarginBottom);
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }

  &__item {
    margin-bottom: var(--amountItemMarginBottom);
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    padding: 0.3rem 1.2rem;
    border: 0.3rem solid $color-black;
  }

  &__btn {
    font-size: $font-size-xl;
    font-weight: $font-weight-regular;
  }

  &__number {
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    text-align: center;
    border: none;
    background: transparent;
    pointer-events: none;
  }
}

@media (max-width: $breakpoint-lg) {
  .form {
    &__ticket-type {
      &--hidden {
        display: none;
      }
    }

    &__amount {
      gap: 2rem;
    }

    &__sum {
      align-self: self-start;
      margin-top: 0;
      display: flex;
      column-gap: 1.3rem;
    }

    &__btn {
      align-self: start;
    }
  }

  .amount {
    --amountWrapperAlignSelf: self-start;
    --amountWrapperMarginBottom: 0;
    --amountWrapperGap: 2.5rem;
    --amountTitleAlignSelf: self-start;
    --amountTitleMarginBottom: 0;
    --amountItemMarginBottom: -1.5rem;

    &__counter {
      width: 17.5rem;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .amount {
    --amountTitleMarginBottom: 1.4rem;
    --amountWrapperMarginBottom: 1.4rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .form {
    &__btn {
      font-size: $font-size-xxs;
      align-self: auto;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }

    &__sum {
      align-self: center;
      font-size: $font-size-xxs;
      letter-spacing: 0;
      column-gap: 0;
    }
  }

  .amount {
    --amountWrapperMarginBottom: 2rem;
    --amountWrapperGap: 2rem;
    --amountTitleMarginBottom: 0;
    --amountItemMarginBottom: -0.5rem;

    &__title {
      font-size: $font-size-xxs;
      text-align: center;
    }

    &__item {
      font-size: $font-size-xxs;
    }

    &__counter {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
}
