.logo {
  &__link {
    display: flex;
    gap: 2.5rem;
  }

  &__icon {
    align-self: flex-start;
    width: 4.9rem;
    height: 2.6rem;
    mask-image: url("../assets/svg/logo.svg");
  }

  &__title {
    font-family: $font-primary;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-normal;
    text-transform: uppercase;
  }
}
