.navigation {

    &__list {}

    &__item {}

    &__link {
        font-size: $font-size-md;
        letter-spacing: .2rem;
        transition: $transition-normal;

        &:hover {
            color: $color-link-hover;
        }

        &:active {
            color: $color-link-active;
        }
    }
}