.player {
  --videoControllerHeight: 8.5rem;
  --wrapperHeight: 65rem;

  &__wrapper {
    position: relative;
    overflow: hidden;
    height: calc(var(--wrapperHeight) + var(--videoControllerHeight));
  }

  &__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-bottom: var(--videoControllerHeight);

    &--fullscreen {
      object-fit: contain;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--videoControllerHeight));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__speed-info {
    position: absolute;
    top: var(--videoControllerHeight);
    left: 50%;
    transform: translateX(-50%);
    padding: $spacing-normal $spacing-normal * 2;
    border-radius: $border-radius-normal / 2;
    background-color: rgba(0, 0, 0, 0.75);
    color: $color-white;

    &--hidden {
      opacity: 0;
    }
  }

  &__icon {
    &--paused {
      width: 15.3%;
      height: 100%;
      mask-image: url('../assets/svg/player/paused.svg');
    }
  }
}

.video-controller {
  // --videoProgressRange: 54%;
  --videoVolumeRange: 54%;
  --videoProgressRange: 0%;
  // --videoVolumeRange: 0%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-sm;
  padding: 2.5rem 3rem;
  background-color: $color-black;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &__icon {
    cursor: pointer;
    background-color: $color-player-control-unit;

    &--play {
      width: 2.3rem;
      height: 3.1rem;
      mask-image: url('../assets/svg/player/play.svg');
    }
    &--volume {
      width: 3.8rem;
      height: 3.1rem;
      mask-image: url('../assets/svg/player/volume.svg');
    }
    &--fullscreen {
      width: 3.5rem;
      height: 3.5rem;
      mask-image: url('../assets/svg/player/fullscreen.svg');
    }

    &--pause {
      mask-image: url('../assets/svg/player/pause.svg');
    }
    &--mute {
      mask-image: url('../assets/svg/player/mute.svg');
    }
    &--minimize {
      mask-image: url('../assets/svg/player/minimize.svg');
    }
  }

  &__progress,
  &__volume {
    flex-grow: 1;
    height: 0.8rem;
    transition: $transition-slow;
    appearance: none;

    &::-webkit-slider-thumb {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      appearance: none;
      background: $color-white;
    }
  }

  &__progress {
    min-width: $spacing-sm * 4;
    max-width: 92.9rem;
    background: linear-gradient(
      to right,
      $color-primary 0%,
      $color-primary var(--videoProgressRange),
      $color-white var(--videoProgressRange),
      $color-white 100%
    );

    &--fullscreen {
      max-width: 100%;
    }
  }

  &__volume {
    min-width: $spacing-sm;
    max-width: 15.5rem;
    background: linear-gradient(
      to right,
      $color-primary 0%,
      $color-primary var(--videoVolumeRange),
      $color-white var(--videoVolumeRange),
      $color-white 100%
    );
  }
}

@media (max-width: $breakpoint-lg) {
  .player {
    --videoControllerHeight: 6rem;
    --wrapperHeight: 44.4rem;
  }

  .video-controller {
    gap: $spacing-xs;
    padding: 1.5rem 4rem;

    &__icon {
      &--play {
        height: 3rem;
      }
      &--volume {
        width: 2.6rem;
        height: 2rem;
      }
      &--fullscreen {
        width: 2.6rem;
        height: 2.6rem;
      }
    }

    &__progress,
    &__volume {
      height: 0.5rem;

      &::-webkit-slider-thumb {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    &__progress {
      min-width: $spacing-xs * 4;
      max-width: 56.4rem;
    }

    &__volume {
      min-width: $spacing-xs;
      max-width: 14.3rem;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .player {
    --videoControllerHeight: 5.5rem;
    --wrapperHeight: 32.9rem;

    &__icon {
      &--paused {
        width: 11.3%;
      }
    }
  }

  .video-controller {
    // position: relative;
    padding: 1.3rem 3rem;

    &__icon {
      &--play {
        height: 2.9rem;
      }

      &--volume {
        width: 2.7rem;
        height: 2.1rem;
      }

      &--fullscreen {
        width: 2.7rem;
        height: 2.7rem;
      }
    }

    &__progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      transform: translateY(-100%);
    }

    &__volume {
      max-width: 48.6rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .player {
    --videoControllerHeight: 5rem;
    --wrapperHeight: 17.2rem;

    &__icon {
      &--paused {
        width: 13.3%;
      }
    }
  }

  .video-controller {
    padding: 1.6rem + 0.2rem 2rem;
    gap: 1rem;

    &__icon {
      &--play {
        width: 1.4rem;
        height: 1.8rem;
      }

      &--volume {
        width: 1.8rem;
        height: 1.4rem;
      }

      &--fullscreen {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &__progress {
      transform: translateY(0);
    }

    &__volume {
      max-width: 20rem;
    }

    &__progress,
    &__volume {
      height: 0.4rem;

      &::-webkit-slider-thumb {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
