.slider {
  position: relative;

  &__img-wrapper {
    position: relative;
    width: 100rem;
    height: auto;

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: linear-gradient(
        90deg,
        $color-background 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    padding: 4rem 7.5rem;
    background-color: $color-background;
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  &__counter {
    display: flex;
    gap: 1rem;
  }

  &__pagination {
    display: flex;
    gap: 2.5rem;
  }

  &__dot {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    background-color: $color-white;
    transition: $transition-normal;

    &--active {
      background-color: $color-dot-active;
    }
  }

  &__dot,
  &__icon {
    &:hover {
      background-color: $color-link-hover;
    }

    &:active {
      background-color: $color-link-active;
    }
  }

  &__navigation {
    display: flex;
    gap: 2rem;
  }

  &__icon {
    width: 3rem;
    height: 4rem;
  }

  &__icon--prev {
    mask-image: url("assets/img/slider/prev.svg");
  }

  &__icon--next {
    mask-image: url("assets/img/slider/next.svg");
  }
}

@media (max-width: $breakpoint-lg) {
  .slider {
    &__img-wrapper {
      width: 70rem;
      height: 52.5rem;
    }

    &__controls {
      justify-content: flex-end;
      gap: 4.5rem;
      max-width: 70rem;
      font-size: $font-size-xs;
    }

    &__dot {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
