.videoslider {
  --videoslideWidth: 31.6%;
  --videoslideMarginRight: 4rem;
  --videoslidesHeight: 100%;
  --wrapperRowGap: 4rem;
  --paginationColumnGap: 2rem;
  --videoslidesCursor: pointer;
  --wrapperWidth: 100%;
  --wrapperHeight: 25.4rem;
  --videoSlidesCount: 3;
  --videoslidesLeft: calc(
    -1 * (var(--videoSlidesCount) - 1) * (var(--videoslideWidth) +
          var(--videoslideMarginRight))
  );

  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--wrapperRowGap);

  &__wrapper {
    overflow: hidden;
    position: relative;
    width: var(--wrapperWidth);
    height: var(--wrapperHeight);
  }

  &__videoslides {
    cursor: var(--videoslidesCursor);
    height: var(--videoslidesHeight);
    display: flex;
    position: relative;
    top: 0;
    left: var(--videoslidesLeft);

    &--shifting {
      pointer-events: none;
      transition: $transition-slow;
    }
  }

  &__videoslide {
    min-width: var(--videoslideWidth);
  }

  &__nav,
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--paginationColumnGap);
  }

  &__icon,
  &__dot {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background-color: $color-player-pagination-unit;
    transition: $transition-normal;

    &:hover {
      background-color: $color-videoslider-pagination-unit-hover;
    }
  }

  &__icon {
    background-color: $color-player-pagination-unit;

    &--next {
      mask-image: url('../assets/svg/videoslider/next.svg');
    }

    &--prev {
      mask-image: url('../assets/svg/videoslider/prev.svg');
    }
  }

  &__dot {
    border-radius: $border-radius-full;

    &--active {
      background-color: $color-videoslider-pagination-unit-active;
    }
  }
}

.videoslide {
  margin-right: var(--videoslideMarginRight);

  &__wrapper {
    position: relative;
    height: 100%;
    padding: 1.5rem 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    color: $color-white;
  }

  &__logo-wrapper {
    overflow: hidden;
    flex-shrink: 0;
    max-width: 4rem;
    height: 4rem;
    border-radius: $border-radius-full;
  }

  &__title {
    //
    overflow: hidden;
    flex-grow: 1;
    text-wrap: nowrap;
  }

  &__icon--kebab {
    width: 0.4rem;
    height: 1.6rem;
    padding: 1rem 2.5rem;
    mask-image: url('../assets/svg/videoslider/kebab.svg');
  }

  &__preview {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &__youtube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--rect {
      width: 6.8rem;
      height: 4.8rem;
      background-color: #212121;
      mask-image: url('../assets/svg/videoslider/youtube/rect.svg');
    }

    &--pyramid {
      width: 1.8rem;
      height: 2rem;
      mask-image: url('../assets/svg/videoslider/youtube/pyramid.svg');
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .videoslider {
    --videoslideWidth: 30.6%;
    --videoslideMarginRight: 4rem;
    --wrapperHeight: 17rem;
  }
}

@media (max-width: $breakpoint-md) {
  .videoslider {
    --videoslideWidth: 48.6%;
    --wrapperHeight: 20rem;
    --videoslideMarginRight: 2rem;
    --wrapperRowGap: 2rem;

    &__dot {
      width: 1rem;
      height: 1rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .videoslider {
    --videoslideWidth: 47.6%;
    --wrapperHeight: 10.1rem;
    --wrapperRowGap: 4rem;

    &__icon,
    &__dot {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
