* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  color: #ffffff;
  background-color: #030303;
}
.header__container {
  padding-top: 5.9rem;
  padding-bottom: 5.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__navigation-list {
  display: flex;
  justify-content: space-between;
  gap: 5.6rem;
}
.header__navigation-link {
  font-weight: 100;
}

.section__title {
  font-family: "Forum", serif;
  font-size: 8rem;
  font-weight: 100;
  line-height: 9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.section__title--gold {
  color: #9d8665;
}
.section__title--underline {
  position: relative;
}
.section__title--underline::after {
  content: "";
  position: absolute;
  bottom: -2.9rem;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: #710707;
}

.Welcome {
  background-color: #030303;
  color: #ffffff;
}
.Welcome__container {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 27rem;
}
.Welcome__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.Welcome__subtitle {
  margin-bottom: 5rem;
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.Welcome__link-btn-text {
  display: inline-block;
  padding: 2.5rem 6.7rem;
  border-radius: 1rem;
  background-color: #710707;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  transition: 0.3s ease;
}
.Welcome__link-btn-text:hover {
  background-color: #9d8665;
}
.Welcome__link-btn-text:active {
  background-color: #7e6c51;
}
.Visiting__container {
  display: flex;
  flex-direction: column;
  gap: 10.3rem;
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
}

.Explore {
  background-color: #030303;
}
.Explore__container {
  display: flex;
  justify-content: space-between;
  gap: 6.1rem;
  padding-top: 7.5rem;
  padding-bottom: 7.3rem;
  color: #ffffff;
}
.Explore__content {
  display: flex;
  flex-direction: column;
  gap: 10.3rem;
}
.Explore__desc {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.Video__container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
.Video__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 7.5rem;
}
.Video__desc {
  max-width: 72rem;
}
.Video__player {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.Video__slider {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.Video__pagination {
  max-width: 20rem;
  margin: 0 auto;
}

.Gallery {
  background-color: #000000;
  color: #ffffff;
}
.Gallery__container {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  padding-top: 7.5rem;
}
.Gallery__image-container {
  max-height: 196rem;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
}
.Gallery__image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  pointer-events: none;
  z-index: 10;
}
.Gallery__inner-container {
  -moz-columns: 3 auto;
       columns: 3 auto;
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
}
.Gallery__image-wrapper {
  max-width: 45.6rem;
  margin-bottom: 2.5rem;
}
.Gallery__image-wrapper:nth-child(1), .Gallery__image-wrapper:nth-child(11) {
  padding-top: 5rem;
}
.Gallery__image {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Tickets__container {
  padding-top: 7.5rem;
  padding-bottom: 7.1rem;
  display: flex;
  flex-direction: column;
  gap: 10.3rem;
}
.Tickets__content {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.Tickets__image-wrapper {
  width: 72rem;
}
.Tickets__image {
  -o-object-fit: contain;
     object-fit: contain;
}
.Tickets__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5.2rem;
}

.parallax {
  width: 100%;
  height: 40rem;
  background-image: url("assets/img/parallax.png");
  background-size: cover;
  background-attachment: fixed;
}

.Contacts__container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 10.3rem;
}
.Contacts__content {
  display: flex;
  justify-content: space-between;
  gap: 19.8rem;
}
.Contacts__contact-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.Contacts__subtitle {
  margin-bottom: 2.5rem;
}
.Contacts__map {
  max-width: 96rem;
}
.Contacts__image {
  display: block;
  width: 100%;
}

.footer {
  background-color: #000000;
  color: #ffffff;
}
.footer__head {
  padding-top: 8.5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 69.6rem;
}
.footer__navigation-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 15.2rem;
  align-content: flex-start;
}
.footer__navigation-link {
  font-weight: 200;
}
.footer__social-list {
  display: flex;
  gap: 2.5rem;
  align-items: end;
  padding-bottom: 0.5rem;
}
.footer__additional {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5.2rem;
  border-top: 0.3rem solid #999999;
  display: flex;
  justify-content: space-between;
}
.footer__desc {
  flex-grow: 1;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
.footer__desc:first-child {
  margin-right: 3.5rem;
  text-align: left;
}
.footer__desc:last-child {
  text-align: right;
}

.navigation__link {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  transition: 0.3s ease;
}
.navigation__link:hover {
  color: #9d8665;
}
.navigation__link:active {
  color: #7e6c51;
}

.logo__link {
  display: flex;
  gap: 2.5rem;
}
.logo__image {
  display: inline-block;
  min-width: 4.9rem;
  min-height: 2.6rem;
  background-color: #ffffff;
  -webkit-mask-image: url("assets/svg/logo.svg");
  -webkit-mask-size: contain;
  -webkit-mask-position: top center;
  -webkit-mask-repeat: no-repeat;
}
.logo__title {
  font-family: "Forum", serif;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
}
.slider__container {
  position: relative;
}
.slider__image {
  width: 100rem;
  height: 75rem;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("assets/img/slider/1.png") lightgray 50%/cover no-repeat;
}
.slider__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  width: 100%;
  padding: 4rem 7.5rem;
  background-color: #030303;
  font-size: 2.2rem;
  line-height: 4rem;
}
.slider__slide-counter {
  display: flex;
  gap: 1rem;
}
.slider__pagination {
  display: flex;
  gap: 2.5rem;
}
.slider__dot {
  background-color: #ffffff;
  width: 1.6rem;
  height: 1.6rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.slider__dot--active {
  background-color: #d2b183;
}
.slider__dot:hover {
  background-color: #9d8665;
}
.slider__arrows {
  display: flex;
  gap: 2rem;
}
.slider__arrow {
  display: block;
  min-width: 3rem;
  min-height: 4rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  transition: 0.3s ease;
}
.slider__arrow:hover {
  background-color: #9d8665;
}
.slider__arrow-left {
  -webkit-mask-image: url("assets/img/slider/arrow-left.svg");
}
.slider__arrow-right {
  -webkit-mask-image: url("assets/img/slider/arrow-right.svg");
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7.5rem 6rem;
}

.card:hover .card__title--underline::after {
  width: 100%;
}
.card__link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__image {
  display: block;
  max-width: 44rem;
  max-height: 28.5rem;
}
.card__title {
  font-family: "Forum", serif;
  font-size: 3.2rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.card__title--underline {
  position: relative;
}
.card__title--underline::after {
  content: "";
  position: absolute;
  width: 68%;
  bottom: -1.2rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: #710707;
  transition: 0.3s ease;
}
.card__label {
  font-weight: 200;
}
.card__label--1 {
  font-size: 2.2rem;
}

.desc {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3.85rem;
}
.desc__marker {
  color: #caaa7d;
}

.slider-comparison {
  position: relative;
  min-width: 72rem;
  min-height: 70rem;
  background: url("assets/img/slider-comparison/new.png") no-repeat, url("assets/img/slider-comparison/old.png") no-repeat;
  margin-top: 1.6rem;
}
.slider-comparison__control-unit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 61.3%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.slider-comparison__line-top, .slider-comparison__line-bottom {
  flex-grow: 1;
  width: 0.5rem;
  background-color: #ffffff;
}
.slider-comparison__line-thumb {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid #ffffff;
  border-radius: 999.9rem;
}

.player__video {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 65rem;
  background-image: url("assets/svg/player/preview.png");
}
.player__video--paused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  height: 22rem;
  border: 1rem solid #ffffff;
  border-radius: 999.9rem;
  background-color: #ffffff;
  -webkit-mask-image: url("assets/svg/player/paused.svg");
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.player__wrapper {
  display: flex;
  justify-content: space-between;
}
.player__slide {
  flex-grow: 1;
  max-width: 45.2rem;
  height: 25.2rem;
}
.player__iframe {
  width: 100%;
  height: 100%;
}
.player__pagination, .player__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.player__nav, .player__dot {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #999999;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  transition: 0.3s ease;
}
.player__nav:hover, .player__dot:hover {
  background-color: #710707;
}
.player__nav--prev {
  -webkit-mask-image: url("assets/svg/player/prev.svg");
}
.player__nav--next {
  -webkit-mask-image: url("assets/svg/player/next.svg");
}
.player__dot {
  border-radius: 999.9rem;
}
.player__dot--active {
  background-color: #710707;
}

.control-unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 2.6rem 3rem;
  background-color: #000000;
}
.control-unit__progress-bar, .control-unit__volume-slider {
  height: 0.8rem;
  transition: background 0.5s ease;
  -webkit-appearance: none;
}
.control-unit__progress-bar::-webkit-slider-thumb, .control-unit__volume-slider::-webkit-slider-thumb {
  cursor: ew-resize;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #ffffff;
}
.control-unit__play-button, .control-unit__progress-bar, .control-unit__volume-icon, .control-unit__volume-slider, .control-unit__fullscreen-button {
  cursor: pointer;
}
.control-unit__play-button, .control-unit__volume-icon, .control-unit__fullscreen-button {
  background-color: #b3b3b3;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  transition: 0.3s ease;
}
.control-unit__play-button:hover, .control-unit__volume-icon:hover, .control-unit__fullscreen-button:hover {
  background-color: #989898;
}
.control-unit__play-button {
  width: 2.3rem;
  height: 3.1rem;
  -webkit-mask-image: url("assets/svg/player/play.svg");
}
.control-unit__progress-bar {
  flex-grow: 1;
  max-width: 92.9rem;
  background: linear-gradient(to right, #710707 0%, #710707 54%, #fff 54%, #fff 100%);
}
.control-unit__volume-icon {
  width: 3.8rem;
  height: 3.1rem;
  -webkit-mask-image: url("assets/svg/player/volume.svg");
}
.control-unit__volume-slider {
  flex-grow: 1;
  max-width: 15.5rem;
  background: linear-gradient(to right, #710707 0%, #710707 42%, #fff 42%, #fff 100%);
}
.control-unit__fullscreen-button {
  width: 3.5rem;
  height: 3.5rem;
  -webkit-mask-image: url("assets/svg/player/fullscreen.svg");
}

.contact-list__title {
  font-size: 2.8rem;
  font-weight: 500;
}
.contact-list__item {
  font-size: 2.2rem;
  font-weight: 200;
}
.contact-list__link {
  transition: 0.3s ease;
}
.contact-list__link:hover {
  color: #9d8665;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 0.1rem solid #999999;
  border-radius: 999.9rem;
  transition: 0.3s ease;
}
.social-list__link:hover {
  border-color: #9d8665;
}
.social-list__link:hover .social-list__icon {
  background-color: #9d8665;
}
.social-list__icon {
  background-color: #ffffff;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  transition: 0.3s ease;
}
.social-list__icon--youtube {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url("assets/svg/footer/youtube.svg");
}
.social-list__icon--instagram {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url("assets/svg/footer/instagram.svg");
}
.social-list__icon--facebook {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url("assets/svg/footer/facebook.svg");
}
.social-list__icon--twitter {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url("assets/svg/footer/twitter.svg");
}
.social-list__icon--pinterest {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url("assets/svg/footer/pinterest.svg");
}

.form__purchase {
  display: flex;
  justify-content: space-between;
  width: 66rem;
}
.form__sum {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.165rem;
  margin-bottom: 1rem;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.8rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.purchase__ticket-type {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.purchase__amount {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ticket-type__title {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 700;
}
.ticket-type__item {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 4rem;
  font-size: 2.2rem;
  font-weight: 300;
}
.ticket-type__item .ticket-type__input:checked ~ .ticket-type__checkmark {
  background-color: #ffffff;
}
.ticket-type__item .ticket-type__input:checked ~ .ticket-type__checkmark::after {
  display: block;
}
.ticket-type__item .ticket-type__checkmark::after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #000000;
}
.ticket-type__input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
.ticket-type__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  border: 0.2rem solid #000000;
}

.amount__title {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: right;
}
.amount__item {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.amount__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  border: 0.3rem solid #000000;
  padding: 0.6rem 1.2rem;
}
.amount__button {
  cursor: pointer;
  padding: 0;
  width: 1.9rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  background: none;
}
.amount__number {
  padding: 0;
  margin-right: -1.5rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  border: none;
  background: transparent;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */